%heading {
  line-height: 1;
}

.heading-1 {
  @extend %heading;
  font-size: 5.2rem;
  font-weight: 600;
}

.heading-2 {
  @extend %heading;
  font-size: 2.3rem;
}

.heading-3 {
  font-size: 1.5rem;
}

.btn {
  margin-bottom: 0.45rem;
  border-radius: 0.5rem;
  background-color: #f0f0f0;
  cursor: pointer;
  font-size: 1.6rem;
  font-family: lato;
  color: $color-text;
  border-width: 0.17rem;

  &:hover,
  &:active {
    background-color: darken($color: #f0f0f0, $amount: 10);
  }
}
