// COLOR VARIABLES

$color-primary: #f4f0ec;
$color-primary-lighter: #fafafa;
$color-primary-darker: #d8d1f8;
$color-primary-hover: #bfb4f3;

$color-background: #ffffff;

$color-text: #2d2a2e;
$color-text-highlighted: #60a667;
$color-text-hover: #4a9de1;

//old hover
/* color: #4a9de1; */
