@import '../../styles/variables';

.loginForm {
  width: max-content;
  margin: 1rem 11rem;
  padding: 3rem 6rem;
  border-radius: 1rem;
  background-color: $color-primary;
  box-shadow: 0 1rem 2.5rem rgba(#000, 0.17);

  &__title {
    margin-bottom: 1rem;
  }

  &__item {
    padding: 0.8rem 0.6rem;
    font-size: 1.6rem;
  }
}

.btn {
  &__login {
    margin-top: 1rem;
    padding: 0.3rem 0.5rem;
  }
}

// .blog_btn--login {
//   background-color: #eae7fc;
//   border-color: #ae81ff80;
// }

// .blog_btn--login:hover,
// .blog_btn--login:active {
//   background-color: #ab9df260;
// }
