@import '../../styles/variables';

.navbar {
  padding: 1.5rem 2rem;
  background-color: $color-primary;
  //overflow: hidden;
  border-radius: 0.6rem 0.6rem 0.2rem 0.2rem;

  display: flex;
  justify-content: space-between;

  &__left {
    display: flex;
    font-size: 1.9rem;
  }

  &__link {
    &--1 {
      margin-left: 2rem;
    }

    &--2 {
      margin-left: 3.5rem;
    }
  }

  &__link:link,
  &__link:visited {
    text-decoration: none;
    color: $color-text;
    display: block;
    transition: all 0.2;

    &:hover,
    &:active {
      color: $color-text-hover;
      transform: translateY(-1px);
    }
  }

  &__right {
    position: relative;
    position: relative;
    text-align: center;
    float: right;
    margin-right: 5rem;

    &--user {
      margin-right: 5rem;
      font-size: 1.5rem;
      color: $color-text-highlighted;
    }

    &--btn {
      border-width: 0.17rem;
      border-radius: 0.4rem;
      padding: 0.5rem 0.7rem;
      position: absolute;
      top: -0.16rem;
      right: -3rem;
      cursor: pointer;

      &:hover,
      &:active {
        background-color: darken($color: #f0f0f0, $amount: 10);
      }
    }
  }
}
