.btn {
  &__add {
    margin-left: 9rem;
    padding: 0.5rem 1rem;
  }
  &__create {
    margin-top: 1rem;
    padding: 0.1rem 0.5rem 0.3rem 0.5rem;
  }
  &__cancel {
    margin-left: 9rem;
    padding: 0.5rem;
  }
}
