@font-face {
  font-family: 'lato';
  src: local('lato'), url('./fonts/Lato-Regular.ttf'),
    url('./fonts/Lato-Italic.ttf'),
    url('./fonts/Lato-Bold.ttf') format('truetype');
  font-weight: normal;
}
